.appContainer {
  background-color: var(--dark-bg);
  padding-top: 80px; /* Offset for fixed navbar */
  overflow-y: auto;
  transition: background-color 0.5s ease-in-out;
}

/* Add theme-specific styles */
:root[data-theme="light"] .appContainer {
  background-color: var(--light-bg);
}

:root[data-theme="dark"] .appContainer {
  background-color: var(--dark-bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-width: 320px;
  overflow-x: auto;
}